@charset "UTF-8";
/**
  /**/
* 
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
  
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
 
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  /* font-family: Arial, Helvetica, sans-serif; */
}
article, aside, details, figcaption, figure,
footer, header, menu, nav, section, time {
  display: block;
}


body {
  line-height: 1;
  color: black;
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
}


 
ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  
}



  
textarea:focus, input:focus {
  outline: 0;
}

input {
  border-width: 0;
}

em {
 
  font-style: italic;
}

  
h1, h2, h3, h4, h5, h6 {
 
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
 
}
 

.group:before,
.group:after {
  content: " ";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
  
}

embed,
img,
object,
video {
  max-width: 100%;
}
sup {
  font-size: 58.3%;
  vertical-align: text-top;
}
sub {
 
  font-size: 58.3%;
  vertical-align: text-bottom;
}
.no-space-between-inline-blocks {
  *letter-spacing: normal; 
  letter-spacing: -0.31em; 
  word-spacing: -0.43em; 
}
/*restore spacing on inner elements*/
.no-space-between-inline-blocks > * {
  
  letter-spacing: normal;
  
  word-spacing: normal;
}

.displace {
  left: -5000px;
  position: absolute;
}
html {
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  
}
html {
  font-size: 16px;
}
body {
  color: #666666;
  
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.9375rem; /* 15px / 16px = 0.9375rem */
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-decoration: none;
  
}
body {
  
  float: none;
  height: 3558px;
  margin: 0 auto;
  min-height: 3558px;
  position: relative;
  width: 1600px;
}
 
.bg {
  height: 1010px;
  left: 50%;
  position: absolute;
  
  top: 0;
  width: 1385px;
  background-color: #ffffff; /*Layer's solid color*/
  margin-left: -800px;
}
.color-fill-1-holder {
  left: 50%;
  min-height: 3558px;
  padding: 33px 0 0;
  position: absolute;
  top: 0;
  width: 1600px;

  background: #ffffff;
  margin-left: -800px;
}
.header {
  margin: 0 auto;
  position: relative;
  width: 1108px;
  
}
.logo-ata-hihiko-be-intent_round {
  float: left;
}
.rounded-rectangle-1-copy-6-holder {
  float: right;
    margin: 19px 0 0;
    min-height: 45px;
    width: 115px;
    border: 1px solid #00a7b4;
    -webkit-border-radius: 22.5px;
    -moz-border-radius: 22.5px;
    border-radius: 22.5px;
    color: #ffffff;
    line-height: 45px;
    text-align: center;
    background: #00a7b4;
}
button.rounded-rectangle-1-copy-6-holder:hover {
  background: #0000;
  color: #00a7b4;
}
.rounded-rectangle-1-copy-5-holder {
  float: right;
  margin: 19px 16px 0 0;
  min-height: 45px;
  width: 115px;
  
  -webkit-border-radius: 22.5px;
  -moz-border-radius: 22.5px;
  border-radius: 22.5px;
  background: #00a7b4;
  -webkit-box-shadow: 0 5px 8px 0 rgba(0, 167, 180, 0.26);
  -moz-box-shadow: 0 5px 8px 0 rgba(0, 167, 180, 0.26);
  box-shadow: 0 5px 8px 0 rgba(0, 167, 180, 0.26); /*drop shadow*/

  color: #ffffff;
 
  line-height: 45px;
  text-align: center;
}
buttton.rounded-rectangle-1-copy-5-holder:hover {
  background: #0000;
  color: #00a7b4;
  border: 1px solid #00a7b4;
}
.nav {
    float: right;
    margin: 9px 31px 0 0;
    position: relative;
    width: 649px;
}
  /*R*/
.nav-list {
  position: relative;
  list-style: none;
}
.nav-list li {
  float: left;
  margin: 0 40px 0 0;
}
.nav-list li:last-child {
  margin-right: 0;
}
.nav-item-1 {
  color: #232323;
}
.nav-item-1-2 {
  color: #232323;
}
.nav-item-1-3 {
  color: #232323;
}
.nav-item-1-4 {
  color: #232323;
}
.nav-item-1-5 {
  color: #232323;
}
.nav-item-1-6 {
  color: #232323;
}
.row-10 {
  margin: 29px auto 0;
  position: relative;
  right: 56.5px;
  width: 1223px;
}
.group-23 {
  float: left;
  margin: 178px 0 0;
  position: relative;
  width: 98px;
}
.text-3 {
  margin: 0 0 0 50px;
  color: #999999;
  font-size: 1.125rem; 
  font-weight: bold;
}
.row-6 {
  margin: 47px 0 0;
  position: relative;
}
.rectangle-3 {
  float: left;
  height: 2px;
  margin: 18px 8px 0 0;
  width: 40px;
  background: #00a7b4;
}
.text-4 {
  color: #00a7b4;
  font-size: 2.25rem; 
  font-weight: bold;
}
.text-5 {
  margin: 52px 0 0 50px;
  color: #999999;
  font-size: 1.125rem;
  font-weight: bold;
}
.col-2 {
  float: right;
  min-height: 542px;
  padding: 82px 38px 25px;
  position: relative;
  width: 1113px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: rgba(34, 61, 87, 0.07);
}
.row-5 {
  left: 28.5px;
  margin: 0 auto;
  position: relative;
  width: 980px;
}
.col-12 {
  float: left;
  margin: 83px -37px 0 0;
  position: relative;
  width: 352px;
}
.text-6 {
  color: #223d57;
  font-size: 3rem; 
  font-weight: bold;
}
.text-7 {
  margin: 15px 0 0 3px;
  width: 349px;
  font-size: 1rem; 
  line-height: 20px;
}
.rounded-rectangle-1-holder {
  margin: 27px 0 0;
  min-height: 45px;
  padding: 14px 23px;
  position: relative;
  width: 139px;
  
  -webkit-border-radius: 22.5px;
  -moz-border-radius: 22.5px;
  border-radius: 22.5px;
  
  background: #00a7b4;
  -webkit-box-shadow: 0 5px 8px 0 rgba(0, 167, 180, 0.26);
  -moz-box-shadow: 0 5px 8px 0 rgba(0, 167, 180, 0.26);
  box-shadow: 0 5px 8px 0 rgba(0, 167, 180, 0.26); /*drop shadow*/
}
.arrow-pointing-to-right-1 {
  float: right;
  
  margin: 3px 0 0;
}
.text-8 {
  margin: 0 0 0 1px;
  color: #ffffff;
}
.wrapper-15 {
  float: left;
  height: 367px;
  position: relative;
  width: 665px;
}
.vector-smart-object-copy-2 {
  left: 50%;
  position: absolute;
  top: 0;
  margin-left: -259.5px;
}
.vector-smart-object1-copy {
  left: 50%;
  position: absolute;
  top: 279px;
  margin-left: 198.5px;
}
.group-11 {
  left: 50%;
  position: absolute;
  top: 45px;
  margin-left: -332.5px;
}
.group-1 {
  left: 50%;
  position: absolute;
  top: 86px;
  margin-left: 129.5px;
}
.group-22 {
  left: 489.5px;
  margin: 50px auto 0;
  position: relative;
  width: 52px;
}
.ellipse-1-holder {
  float: left;
  padding: 5px 0;
  position: relative;
  width: 18px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: rgba(0, 167, 180, 0.2);
}
.ellipse-1-copy-3 {
  height: 8px;
  margin: 0 auto;
  width: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #00a7b4;
}
.ellipse-1-copy {
  float: left;
  height: 5px;
  margin: 6px 0 0 9px;
  width: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #00a7b4;
}
.ellipse-1-copy-2 {
  float: left;
  height: 5px;
  margin: 6px 0 0 15px;
  width: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #00a7b4;
}
.take-a-tour {
  left: 17.5px;
  margin: 61px auto 0;
  position: relative;
  width: 747px;
}
.rectangle-2-copy-8-holder {
  float: left;
  margin: 0 37px 0 0;
  padding: 20px 0;
  position: relative;
  width: 237px;
  -webkit-border-radius: 118.5px;
  -moz-border-radius: 118.5px;
  border-radius: 118.5px;
  background: rgba(0, 167, 180, 0.05);
}
.rectangle-2-copy-11-holder {
    margin: 0 auto;
    padding: 22px 0 23px;
    position: relative;
    width: 197px;
    -webkit-border-radius: 98.5px;
    -moz-border-radius: 98.5px;
    border-radius: 98.5px;
    background-color: rgba(0, 167, 180, 0.1);
    background: url(images/rectangle_2_copy_10.png) no-repeat;
    background-position: 14px;
}
.rectangle-2-copy-10-holder {
  height: 153px;
  margin: 0 auto;
  padding: 47px 0 46px;
  position: relative;
  width: 153px;
  -webkit-border-radius: 76.35px 76.37px/76.35px;
  -moz-border-radius: 76.35px 76.37px/76.35px;
  border-radius: 76.35px 76.37px/76.35px;
  background: url(css/images/rectangle_2_copy_10.png);
  background-position: -7px;
  -webkit-box-shadow: 0 20px 24.9px 5.1px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 20px 24.9px 5.1px rgba(0, 0, 0, 0.07);
  box-shadow: 0 20px 24.9px 5.1px rgba(0, 0, 0, 0.07); /*drop shadow*/
}
.btn-shape-holder {
  margin: 0 auto;
  padding: 22px 0;
  position: relative;
  width: 60px;
  -webkit-border-radius: 29.81px/29.88px;
  -moz-border-radius: 29.81px/29.88px;
  border-radius: 29.81px/29.88px;
  background: #ffffff;
}
.icon {
  display: block;
  margin: 0 auto;
}
.wrapper-4 {
  float: left;
  margin: 67px 0 0;
  position: relative;
  width: 473px;
}
.rectangle-3-copy-13 {
  float: left;
  height: 2px;
  margin: 16px 30px 0 4px;
  width: 64px;
  background: #00a7b4;
}
.text-9 {
  color: #223d57;
  font-size: 2.125rem; 
  font-weight: bold;
}
.text-10 {
  clear: both;
  margin: 14px 32px 0 0;
  line-height: 20px;
  text-align: justify;
}
.group-17 {
  height: 571px;
  margin: 61px 0 0;
  padding: 96px 0 100px;
  position: relative;
  /* background:linear-gradient(0deg, rgb(34,61,87), rgba(255, 255, 255, 0.3)), url(images/pexels-photo-777155.png); */
  background: url(images/Rectangle_2_copy_15.png) no-repeat;
}
.group-27 {
  /*F*/
  display: table;
  margin: 0 auto;
  position: relative;
}
.text-11 {
  color: #ffffff;
  font-size: 2.125rem; /* 34px / 16px = 2.125rem */
  font-weight: bold;
  text-align: center;
}
.text-12 {
  margin: 14px auto 0;
  width: 919px;
  color: #ffffff;
  line-height: 20px;
  text-align: center;
}
.row-3 {
  margin: 36px auto 0;
  position: relative;
  width: 1110px;
}
.row-3 > * {
  float: left;
  margin: 0 30px 0 0;
}
.row-3 > *:last-child {
  margin-right: 0 !important;
}
.group-24 {
  min-height: 227px;
  padding: 31px 31px 37px;
  position: relative;
  width: 350px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #f16566;
  -webkit-box-shadow: 0 20px 41.5px 8.5px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 20px 41.5px 8.5px rgba(0, 0, 0, 0.05);
  box-shadow: 0 20px 41.5px 8.5px rgba(0, 0, 0, 0.05); /*drop shadow*/
}
.row-7 {
  position: relative;
  width: 288px;
}
.wrapper-16 {
  float: left;
  height: 60px;
  position: relative;
  width: 60px;
}
.rounded-rectangle-2-copy {
  height: 50px;
  left: 50%;
  position: absolute;
  top: 0;
  width: 50px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.2);
  margin-left: -20px;
}
.rounded-rectangle-2-holder {
  left: 50%;
  padding: 11px 0;
  position: absolute;
  top: 10px;
  width: 50px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ffffff;
  -webkit-box-shadow: 0 5px 17.6px 2.4px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 5px 17.6px 2.4px rgba(0, 0, 0, 0.07);
  box-shadow: 0 5px 17.6px 2.4px rgba(0, 0, 0, 0.07); /*drop shadow*/
  margin-left: -30px;
}
.layer {
  display: block;
  margin: 0 auto;
}
.vector-smart-object {
  float: right;
}
.text-13 {
  margin: 28px 0 0;
  color: #ffffff;
  font-size: 1.25rem; /* 20px / 16px = 1.25rem */
  font-weight: 500;
}
.text-14 {
  margin: 7px 0 0;
  width: 285px;
  color: #ffffff;
  line-height: 20px;
}
.group-25 {
  min-height: 227px;
  padding: 29px 28px 42px;
  position: relative;
  width: 350px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #8c248a;
  -webkit-box-shadow: 0 20px 41.5px 8.5px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 20px 41.5px 8.5px rgba(0, 0, 0, 0.05);
  box-shadow: 0 20px 41.5px 8.5px rgba(0, 0, 0, 0.05); /*drop shadow*/
}
.row-8 {
  margin: 0 0 0 2px;
  position: relative;
  width: 290px;
}
.wrapper-17 {
  float: left;
  height: 60px;
  position: relative;
  width: 60px;
}
.rounded-rectangle-2-copy-4 {
  height: 50px;
  left: 50%;
  position: absolute;
  top: 0;
  width: 50px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.2);
  margin-left: -20px;
}
.rounded-rectangle-2-copy-3-holder {
  left: 50%;
  padding: 12px 0;
  position: absolute;
  top: 10px;
  width: 50px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ffffff;
  -webkit-box-shadow: 0 5px 17.6px 2.4px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 5px 17.6px 2.4px rgba(0, 0, 0, 0.07);
  box-shadow: 0 5px 17.6px 2.4px rgba(0, 0, 0, 0.07); /*drop shadow*/
  margin-left: -30px;
}
.layer-2 {
  display: block;
  margin: 0 auto;
}
.vector-smart-object-copy {
  float: right;
  margin: 2px 0 0;
}
.text-15 {
  margin: 27px 0 0 2px;
  color: #ffffff;
  font-size: 1.25rem; 
  font-weight: 500;
}
.text-16 {
  margin: 10px auto 0;
  width: 292px;
  color: #ffffff;
}
.group-26 {
  min-height: 227px;
  padding: 29px 29px 42px;
  position: relative;
  width: 350px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #d94293;
  -webkit-box-shadow: 0 20px 41.5px 8.5px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 20px 41.5px 8.5px rgba(0, 0, 0, 0.05);
  box-shadow: 0 20px 41.5px 8.5px rgba(0, 0, 0, 0.05); /*drop shadow*/
}
.row-9 {
  margin: 0 0 0 1px;
  position: relative;
  width: 291px;
}
.wrapper-18 {
  float: left;
  height: 60px;
  position: relative;
  width: 60px;
}
.rounded-rectangle-2-copy-3 {
  height: 50px;
  left: 50%;
  position: absolute;
  top: 0;
  width: 50px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.2);
  margin-left: -20px;
}
.rounded-rectangle-2-copy-5-holder {
  left: 50%;
  padding: 13px 0 12px;
  position: absolute;
  top: 10px;
  width: 50px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ffffff;
  -webkit-box-shadow: 0 5px 17.6px 2.4px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 5px 17.6px 2.4px rgba(0, 0, 0, 0.07);
  box-shadow: 0 5px 17.6px 2.4px rgba(0, 0, 0, 0.07); /*drop shadow*/
  margin-left: -30px;
}
.layer-3 {
  display: block;
  margin: 0 auto;
}
.vector-smart-object-copy-4 {
  float: right;
  margin: 2px 0 0;
}
.text-17 {
  margin: 27px 0 0;
  color: #ffffff;
  font-size: 1.25rem; 
  font-weight: 500;
}
.text-18 {
  margin: 8px 0 0;
  width: 289px;
  color: #ffffff;
  line-height: 20px;
}
.beintent-for {
  margin: 97px auto 0;
  position: relative;
  width: 1111px;
}
.row {
  position: relative;
}
.rectangle-3-copy-2 {
  float: left;
  height: 2px;
  margin: 18px 31px 0 0;
  width: 64px;
  background: #00a7b4;
}
.text-19 {
  color: #223d57;
  font-size: 2.125rem; /* 34px / 16px = 2.125rem */
  font-weight: bold;
}
.row-2 {
  margin: 59px 0 0 1px;
  position: relative;
}
.row-2 > * {
  float: left;
  margin: 0 30px 0 0;
}
.row-2 > *:last-child {
  margin-right: 0 !important;
}
.group-28 {
  height: 315px;
  position: relative;
  width: 350px;
}
.pexels-photo-3184317 {
  left: 50%;
  position: absolute;
  top: 33px;
  margin-left: -164px;
}
.rectangle-2-copy-3-holder {
  left: 50%;
  min-height: 283px;
  padding: 195px 23px 22px;
  position: absolute;
  top: 32px;
  width: 314px;
  border: 2px solid #eff1f3; /*stroke*/
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #ffffff;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
  margin-left: -157px;
}
.text-20 {
  margin: 0 auto;
  width: 258px;
  font-size: 0.875rem; 
  line-height: 20px;
}
.rectangle-2-copy-19-holder {
  height: 209px;
  left: 50%;
  margin: 0 0 0 -175px;
  max-width: 350px;
  padding: 163px 0 20px;
  position: absolute;
  top: 0;
  width: 350px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: url(images/pexels-photo-3184317_copy.png) no-repeat;
  color: #ffffff;
  font-size: 1.5rem; 
  font-weight: bold;
  text-align: center;
  text-shadow: 3.36px 3.36px 17.64px rgba(0, 0, 0, 0.15), -3.36px -3.36px 17.64px rgba(0, 0, 0, 0.15), 3.36px -3.36px 17.64px rgba(0, 0, 0, 0.15), -3.36px 3.36px 17.64px rgba(0, 0, 0, 0.15); /*drop shadow*/
}
.group-29 {
  height: 313px;
  position: relative;
  width: 350px;
  margin-top: 2px !important;
}
.rectangle-2-copy-17-holder {
  left: 50%;
  min-height: 283px;
  padding: 197px 22px 19px;
  position: absolute;
  top: 30px;
  width: 314px;
  border: 2px solid #eff1f3; /*stroke*/
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #ffffff;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; 
  margin-left: -157px;
}
.text-21 {
  font-size: 0.875rem; 
  line-height: 20px;
}
.pexels-photo-3184317-copy-2 {
  left: 50%;
  position: absolute;
  top: 33px;
  margin-left: -164px;
}
.rectangle-2-copy-4-holder {
  height: 209px;
  left: 50%;
  margin: 0 0 0 -175px;
  max-width: 350px;
  padding: 161px 0 22px;
  position: absolute;
  top: 0;
  width: 350px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: url(images/pexels-photo-2058130.png) no-repeat;
  color: #ffffff;
  font-size: 1.5rem; 
  font-weight: bold;
  text-align: center;
  text-shadow: 3.36px 3.36px 17.64px rgba(0, 0, 0, 0.15), -3.36px -3.36px 17.64px rgba(0, 0, 0, 0.15), 3.36px -3.36px 17.64px rgba(0, 0, 0, 0.15), -3.36px 3.36px 17.64px rgba(0, 0, 0, 0.15); /*drop shadow*/
}
.group-30 {
  height: 313px;
  position: relative;
  width: 350px;
  margin-top: 2px !important;
}
.rectangle-2-copy-18-holder {
  left: 50%;
  min-height: 283px;
  padding: 197px 21px 39px;
  position: absolute;
  top: 30px;
  width: 314px;
  border: 2px solid #eff1f3; /*stroke*/
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #ffffff;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; 
  margin-left: -157px;
}
.text-22 {
  font-size: 0.875rem; /* 14px / 16px = 0.875rem */
  line-height: 20px;
}
.pexels-photo-3184317-copy-3 {
  left: 50%;
  position: absolute;
  top: 33px;
  margin-left: -164px;
}
.rectangle-2-copy-5-holder {
  height: 210px;
  left: 50%;
  margin: 0 0 0 -175px;
  max-width: 350px;
  padding: 164px 0 20px;
  position: absolute;
  top: 0;
  width: 350px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: url(images/pexels-photo-935756.png) no-repeat;
  color: #ffffff;
  font-size: 1.5rem; 
  font-weight: bold;
  text-align: center;
  text-shadow: 3.36px 3.36px 17.64px rgba(0, 0, 0, 0.15), -3.36px -3.36px 17.64px rgba(0, 0, 0, 0.15), 3.36px -3.36px 17.64px rgba(0, 0, 0, 0.15), -3.36px 3.36px 17.64px rgba(0, 0, 0, 0.15); /*drop shadow*/
}
.text-23 {
  margin: 124px 0 0;
  color: #2d465f;
  font-size: 2.125rem; 
  font-weight: bold;
  text-align: center;
}
.text-24 {
  margin: 11px auto 0;
  width: 775px;
  line-height: 20px;
  text-align: center;
}
.wrapper-19 {
  height: 531px;
  margin: 37px auto 0;
  position: relative;
  width: 1112px;
}
.ellipse-2-holder {
  height: 496px;
  left: 50%;
  position: absolute;
  top: 26px;
  width: 496px;
  border: 2px dotted rgba(223, 226, 229, 0.7); 
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-left: -250px;
}
.ellipse-2-copy {
  height: 438px;
  left: 50%;
  position: absolute;
  top: 28px;
  width: 438px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #e8ebee;
  margin-left: -219px;
}
.rectangle-3-copy-14 {
  height: 2px;
  left: 50%;
  position: absolute;
  top: 59px;
  width: 61px;
  background: #00a7b4;
  margin-left: -226px;
}
.ellipse-1-holder-2 {
  left: 50%;
  padding: 6px 0;
  position: absolute;
  top: 50px;
  width: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: rgba(0, 167, 180, 0.3);
  margin-left: -172px;
}
.ellipse-1-copy-4 {
  height: 8px;
  margin: 0 auto;
  width: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #00a7b4;
}
.rectangle-3-copy-15 {
  height: 1px;
  left: 50%;
  position: absolute;
  top: 431px;
  width: 61px;
  background: #e8ebee;
  margin-left: -226px;
}
.ellipse-1-copy-4-2 {
  height: 8px;
  left: 50%;
  position: absolute;
  top: 427px;
  width: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #e8ebee;
  margin-left: -166px;
}
.rectangle-3-copy-17 {
  height: 1px;
  left: 50%;
  position: absolute;
  top: 431px;
  width: 61px;
  background: #e8ebee;
  margin-left: 166px;
}
.ellipse-1-copy-6 {
  height: 8px;
  left: 50%;
  position: absolute;
  top: 427px;
  width: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #e8ebee;
  margin-left: 159px;
}
.rectangle-3-copy-18 {
  height: 1px;
  left: 50%;
  position: absolute;
  top: 61px;
  width: 61px;
  background: #e8ebee;
  margin-left: 166px;
}
.ellipse-1-copy-7 {
  height: 8px;
  left: 50%;
  position: absolute;
  top: 57px;
  width: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #e8ebee;
  margin-left: 159px;
}
.text-25 {
  left: 50%;
  position: absolute;
  top: 77px;
  color: #232323;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 22px;
  margin-left: 244px;
}
.text-26 {
  left: 50%;
  position: absolute;
  top: 105px;
  width: 259px;
  font-size: 0.875rem; /* 14px / 16px = 0.875rem */
  line-height: 20px;
  text-align: justify;
  margin-left: 244px;
}
.rounded-rectangle-2-copy-2 {
  height: 50px;
  left: 50%;
  position: absolute;
  top: 0;
  width: 50px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: rgba(241, 101, 102, 0.1);
  margin-left: 254px;
}
.rounded-rectangle-2-copy-2-holder {
  left: 50%;
  padding: 11px 0;
  position: absolute;
  top: 10px;
  width: 50px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #f16566;
  -webkit-box-shadow: 0 5px 17.6px 2.4px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 5px 17.6px 2.4px rgba(0, 0, 0, 0.07);
  box-shadow: 0 5px 17.6px 2.4px rgba(0, 0, 0, 0.07); /*drop shadow*/
  margin-left: 244px;
}
.layer-4 {
  display: block;
  margin: 0 auto;
}
.text-27 {
  left: 50%;
  position: absolute;
  top: 270px;
  color: #232323;
  font-size: 1.25rem; 
  font-weight: 500;
  line-height: 22px;
  margin-left: 297px;
}
.text-28 {
  left: 50%;
  position: absolute;
  top: 298px;
  width: 259px;
  font-size: 0.875rem; /* 14px / 16px = 0.875rem */
  line-height: 20px;
  text-align: justify;
  margin-left: 297px;
}
.rounded-rectangle-2-copy-6 {
  height: 50px;
  left: 50%;
  position: absolute;
  top: 193px;
  width: 50px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: rgba(139, 36, 137, 0.1);
  margin-left: 307px;
}
.rounded-rectangle-2-copy-6-holder {
  left: 50%;
  padding: 11px 0;
  position: absolute;
  top: 203px;
  width: 50px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #8d258b;
  -webkit-box-shadow: 0 5px 17.6px 2.4px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 5px 17.6px 2.4px rgba(0, 0, 0, 0.07);
  box-shadow: 0 5px 17.6px 2.4px rgba(0, 0, 0, 0.07); /*drop shadow*/
  margin-left: 297px;
}
.layer-5 {
  display: block;
  margin: 0 auto;
}
.text-29 {
  left: 50%;
  position: absolute;
  top: 448px;
  color: #232323;
  font-size: 1.25rem; 
  font-weight: 500;
  line-height: 21px;
  margin-left: 244px;
}
.text-30 {
  left: 50%;
  position: absolute;
  top: 475px;
  width: 259px;
  font-size: 0.875rem; 
  line-height: 20px;
  text-align: justify;
  margin-left: 244px;
}
  
.rounded-rectangle-2-copy-7 {
  height: 50px;
  left: 50%;
  position: absolute;
  top: 370px;
  width: 50px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: rgba(214, 64, 146, 0.1);
  margin-left: 254px;
}
.rounded-rectangle-2-copy-7-holder {
  left: 50%;
  padding: 11px 0;
  position: absolute;
  top: 380px;
  width: 50px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #d94394;
  -webkit-box-shadow: 0 5px 17.6px 2.4px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 5px 17.6px 2.4px rgba(0, 0, 0, 0.07);
  box-shadow: 0 5px 17.6px 2.4px rgba(0, 0, 0, 0.07); /*drop shadow*/
  margin-left: 244px;
}
.layer-6 {
  display: block;
  margin: 0 auto;
}
.text-31 {
  left: 50%;
  position: absolute;
  top: 78px;
  color: #232323;
  font-size: 1.25rem; /* 20px / 16px = 1.25rem */
  font-weight: 500;
  line-height: 21px;
  text-align: right;
  margin-left: -429px;
}
.text-32 {
  left: 50%;
  position: absolute;
  top: 105px;
  width: 254px;
  font-size: 0.875rem; 
  line-height: 20px;
  text-align: right;
  margin-left: -499px;
}
.rounded-rectangle-2-copy-8 {
  height: 50px;
  left: 50%;
  position: absolute;
  top: 0;
  width: 50px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: rgba(241, 101, 102, 0.1);
  margin-left: -308px;
}
.rounded-rectangle-2-copy-8-holder {
  left: 50%;
  padding: 11px 0;
  position: absolute;
  top: 10px;
  width: 50px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #f16566;
  -webkit-box-shadow: 0 5px 17.6px 2.4px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 5px 17.6px 2.4px rgba(0, 0, 0, 0.07);
  box-shadow: 0 5px 17.6px 2.4px rgba(0, 0, 0, 0.07); /*drop shadow*/
  margin-left: -298px;
}
.layer-7 {
  display: block;
  margin: 0 auto;
}
.text-33 {
  left: 50%;
  position: absolute;
  top: 271px;
  color: #232323;
  font-size: 1.25rem; /* 20px / 16px = 1.25rem */
  font-weight: 500;
  line-height: 21px;
  text-align: right;
  margin-left: -487px;
}
.text-34 {
  left: 50%;
  position: absolute;
  top: 298px;
  width: 254px;
  font-size: 0.875rem; /* 14px / 16px = 0.875rem */
  line-height: 20px;
  text-align: right;
  margin-left: -556px;
}
.rounded-rectangle-2-copy-8-2 {
  height: 50px;
  left: 50%;
  position: absolute;
  top: 193px;
  width: 50px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: rgba(139, 36, 138, 0.1);
  margin-left: -365px;
}
.rounded-rectangle-2-copy-8-holder-2 {
  left: 50%;
  padding: 11px 0;
  position: absolute;
  top: 203px;
  width: 50px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #8d258b;
  -webkit-box-shadow: 0 5px 17.6px 2.4px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 5px 17.6px 2.4px rgba(0, 0, 0, 0.07);
  box-shadow: 0 5px 17.6px 2.4px rgba(0, 0, 0, 0.07); /*drop shadow*/
  margin-left: -355px;
}
.layer-8 {
  display: block;
  margin: 0 auto;
}
.text-35 {
  left: 50%;
  position: absolute;
  top: 448px;
  color: #232323;
  font-size: 1.25rem; /* 20px / 16px = 1.25rem */
  font-weight: 500;
  line-height: 21px;
  text-align: right;
  margin-left: -430px;
}
.text-36 {
  left: 50%;
  position: absolute;
  top: 475px;
  width: 254px;
  font-size: 0.875rem; /* 14px / 16px = 0.875rem */
  line-height: 20px;
  text-align: right;
  margin-left: -499px;
}
.rounded-rectangle-2-copy-8-3 {
  height: 50px;
  left: 50%;
  position: absolute;
  top: 370px;
  width: 50px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: rgba(217, 66, 147, 0.1);
  margin-left: -308px;
}
.rounded-rectangle-2-copy-8-holder-3 {
  left: 50%;
  padding: 11px 0;
  position: absolute;
  top: 380px;
  width: 50px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #d94394;
  -webkit-box-shadow: 0 5px 17.6px 2.4px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 5px 17.6px 2.4px rgba(0, 0, 0, 0.07);
  box-shadow: 0 5px 17.6px 2.4px rgba(0, 0, 0, 0.07); /*drop shadow*/
  margin-left: -298px;
}
.layer-9 {
  display: block;
  margin: 0 auto;
}
.rectangle-3-copy-16 {
  height: 1px;
  left: 50%;
  position: absolute;
  top: 283px;
  width: 44px;
  background: #e8ebee;
  margin-left: -295px;
}
.ellipse-1-copy-5 {
  height: 8px;
  left: 50%;
  position: absolute;
  top: 279px;
  width: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #e8ebee;
  margin-left: -252px;
}
.rectangle-3-copy-17-2 {
  height: 1px;
  left: 50%;
  position: absolute;
  top: 283px;
  width: 44px;
  background: #e8ebee;
  margin-left: 248px;
}
.ellipse-1-copy-6-2 {
  height: 8px;
  left: 50%;
  position: absolute;
  top: 279px;
  width: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #e8ebee;
  margin-left: 241px;
}
.group-12-copy {
  left: 50%;
  position: absolute;
  top: 7px;
  margin-left: -133px;
}
.group-7 {
  margin: 71px auto 0;
  position: relative;
  text-align: center;
}
.rounded-rectangle-3-copy {
  margin: 0 29px 0 0;
  width: 254px;
  -webkit-border-radius: 33px;
  -moz-border-radius: 33px;
  border-radius: 33px;
}
.rounded-rectangle-3 {
  width: 254px;
  -webkit-border-radius: 33px;
  -moz-border-radius: 33px;
  border-radius: 33px;
}
.group-7 > * {
  display: inline-block;
  vertical-align: top;
}
.footer {
  margin: 114px 0 0;
  min-height: 406px;
  padding: 57px 0 17px;
  position: relative;
  background: #232323;
}
.row-4 {
  margin: 0 auto;
  position: relative;
  width: 1190px;
}
.col-18 {
  float: left;
  margin: 11px 0 0;
  position: relative;
  width: 327px;
}
.logo-ata-hihiko-be-intent_round-copy {
  display: block;
  position: relative;
}
.text-37 {
  margin: 25px 0 0;
  width: 327px;
  opacity: 0.7;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 20px;
  text-align: justify;
}
.col-20 {
  float: left;
  margin: 11px 0 0 54px;
  position: relative;
  width: 242px;
}
.text-38 {
  opacity: 0.7;
  color: #ffffff;
  font-size: 1rem; 
  font-weight: bold;
}
.text-39 {
  margin: 10px 0 0;
  width: 242px;
  opacity: 0.7;
  color: #ffffff;
  line-height: 24px;
}
.row-13 {
  margin: 20px 0 0;
  position: relative;
}
.row-13 > * {
  float: left;
  margin: 0 10.13px 0 0;
}
.row-13 > *:last-child {
  margin-right: 0 !important;
  
}
.text-40 {
  float: left;
  margin: 0 0 0 41px;
  width: 135px;
  
  opacity: 0.7;
  color: #ffffff;
  
  line-height: 36px;
}
.col-11 {
  float: left;
  margin: 11px 0 0 59px;
  position: relative;
  width: 332px;
}
.text-41 {
  opacity: 0.7;
  color: #ffffff;
  font-size: 1rem; 
  font-weight: bold;
}
.rounded-rectangle-1-copy-3-holder {
  margin: 19px 0 0;
  min-height: 50px;
  padding: 0 24px;
  position: relative;
  width: 255px;
  
  border: 1px solid #ffffff;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;

}
.name {
  
  opacity: 0.4;
  color: #ffffff;
  font-size: 0.875rem; 
  line-height: 50px;
}
.rounded-rectangle-1-copy-4-holder {
  
  margin: 10px 0 0;
  min-height: 50px;
  padding: 0 24px;
  position: relative;
  width: 255px;
  border: 1px solid #ffffff; 
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}
.text-42 {
  opacity: 0.4;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 50px;
}
.rounded-rectangle-1-copy-2-holder {
  margin: 20px 0 0;
  min-height: 45px;
  padding: 0 26px;
  position: relative;
  
  width: 126px;
  -webkit-border-radius: 22.5px;
  -moz-border-radius: 22.5px;
  
  border-radius: 22.5px;
 
  background: #00a7b4;
  -webkit-box-shadow: 0 5px 8px 0 rgba(0, 167, 180, 0.26);
  -moz-box-shadow: 0 5px 8px 0 rgba(0, 167, 180, 0.26);
  box-shadow: 0 5px 8px 0 rgba(0, 167, 180, 0.26); /*drop shadow*/
  
  color: #ffffff;
  font-size: 0.875rem; /* 14px / 16px = 0.875rem */
  line-height: 45px;
  text-align: center;
}

.rounded-rectangle-1-copy-2-holder:hover {
    background: rgb(255, 255, 255);
    color: #00a7b4;
    border: 1px solid #00a7b4;
}
.rectangle-3-copy-12 {
  height: 1px;
  margin: 76px auto 0;
  width: 1599px;
  background: rgba(239, 241, 243, 0.5);
}
 
.text-43 {

  margin: 15px 0 0;
  opacity: 0.7;
  color: #ffffff;
  
  text-align: center;
}

.slick-dots { 
  float: left !important;
  position: absolute !important;
  width: 98px !important;
  margin-top: -371px;
  margin-left: -45px;  
}

.slick-dots li button{
  margin: 0 0 0 50px;
  color: #999999;
  font-size: 1.125rem;
  font-weight: bold;
  border: none;
  background-color: transparent;
}

.slick-dots li{
  margin: 47px 0 0;
  position: relative;
}

.slick-dots .slick-active{
  zoom: 1;
}
.slick-dots .slick-active button{
  color: #00a7b4 ;
  font-size: 2.25rem ;
  font-weight: bold ;
}

@media screen and (max-width: 600px) {
  .nav a {
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
} 

@media screen and (max-width: 425px){
  .nav a {
    float: none;
    width: 100%;
  }
}